@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #333;
}

/* START SCREEN MODAL */

.gem {
    position: absolute;
    display: block;
    width: 50px;
    top: 20px;
}

.gem-left {
    left: 40px;
}

.gem-right {
    right: 40px;
}

.hide {
    display: none;
}

.modal {
    position: absolute;
    width: 100%;
    background-color: #333;
    z-index: 2;
}

.modal-body {
    box-sizing: border-box;
    padding: 40px 0;
    position: relative;
    width: 60%;
    margin: 0 auto;
    background-color: #ccc;
    border: 5px solid #000;
}

.modal h1 {
    margin-bottom: 40px;
}
.modal p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modal .character-selection .selected {
    border: 3px solid #000;
}
.character-selection img{
    display: inline-block;
    box-sizing: border-box;
    padding: 3px;
    border: 3px solid #ccc;
}
.character-selection img:hover {
    border: 3px solid goldenrod;
}

.btn {
    display: inline-block;
    margin: 40px auto 0 auto;
    border: 3px solid #000;
    padding: 15px;
    color: #fff;
    background-color:#0566e6;
}


/* SCORE PANEL */
 .score-panel {
     color: #fff;
 }